<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab1_duanmau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sachbanchay"></activity>
        <activity android:name=".Thongke.ListThongKeActivity" />
        <activity android:name=".HoaDon.ListHoaDonChiTietActivity" />
        <activity android:name=".HoaDon.HoaDonChiTietActivity" />
        <activity android:name=".HoaDon.ListHoaDonActivity" />
        <activity android:name=".HoaDon.HoaDonActivity" />
        <activity android:name=".Sach.SachDialogActivity" />
        <activity android:name=".Sach.SachActivity" />
        <activity android:name=".TheLoai.TheLoaiDialogActivity" />
        <activity android:name=".NguoiDung.UserDialogActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".Sach.ListSachActivity" />
        <activity android:name=".NguoiDung.UserActivity" />
        <activity android:name=".NguoiDung.ListUserActivity" />
        <activity android:name=".TheLoai.ListtheloaiActivity" />
        <activity android:name=".TheLoai.TheloaiActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>